
body {
    font-family: "Raleway", sans-serif !important;
    background-color: rgb(253, 231, 199);
}

h1 {
    color: #ff6363;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    color: #484848;
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #484848;
    
}

.title-description {
    text-align: center;
}

.memory-game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
  }
  
  .card {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #bbb9b9;
    border: 2px black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  .flipped {
    background-color: #c97a7a;
  }
  